@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chart-key {
  position: absolute;
  top: 1em;
  right: 2em;
  display: flex;
  color: #6b7a92;
  right: 1.7em;
  top: 1.25em;
  flex-direction: row-reverse;
  &__item {
    display: flex;
    font-size: 0.78em;
    align-items: center;
    animation: enter 1s ease 0s 1;
    opacity: 1;
    overflow: visibile;
    transition: opacity .5s, width 1.5s;
    span {
      white-space: nowrap;
    }
  }
  &__dot {
    width: 0.85em;
    height: 0.85em;
    display: block;
    margin: 0 .9em 0 2.6em;
    border-radius: 50%;
  }
}