.line-chart {
  margin: 2.7em 0;
  width: 59em;
  padding: 1em 1.75em 4em 4.7em;
  &__baseline {
    stroke: #96f3eb;
    stroke-width: 3px;
    stroke-dasharray: 12px 14px;
    stroke-linecap: round;
  }
  .tooltip__wrapper {
    top: 1em;
    right: 1.8em;
    bottom: 4.3em;
    left: 4.6em;
    width: auto;
    height: auto;
  }
}