.ticks {
  .domain {
    display: none;
  }
  &--minor text {
    display: none;
  }
  &--left {
    line {
      stroke: #f0f3f6;
      stroke-width: 3px;
      stroke-dasharray: 12px 14px;
      stroke-linecap: round;
    }
    text {
      font-size: 13px;
      transform: translateX(-7px);
    }
    .domain + g line {
      stroke: none;
    }
  }
  &--bottom {
    text {
      text-anchor: start;
    }
    line {
      stroke: #d8dde6;
      transform: translateY(46px);
    }
    &.ticks--major {
      .tick {
        text {
          font-size: 11px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}