.tooltip__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  pointer-events: none;
  .tooltip {
    background-color: #f5f9fc;
    position: absolute;
    transform: translate(-50%,-120%);
    text-align: center;
    white-space: nowrap;
    display: none;
    box-shadow: 0 0.37em 0.9em rgba(0,0,0,.1);
    &__text {
      padding: 0.43em;
      color: #6d7e95;
      &--upper {
        font-size: 0.8em;
        font-weight: 500;
        background-color: #fff;
        text-align: center;
        text-transform: uppercase;
      }
      &--lower {
        font-size: 1.05em;
        font-weight: 600;
        text-align: center;
        color: #6d7e95;
      }
    }
  }
}